:root {
    --lime: #fef3dc;
    --black: #000;
    --light: #fff;
    --dlime: #3d3a2f;
}


body {
    transition: background-color ease-out 0.5s;
}

*::selection {
    background-color: var(--lime);
    color: var(--black);
}


body[theme="black"] {
    background-color: var(--black);

}

body[theme="black"] .section {
    color: var(--light);
}
body[theme="white"] {
    background-color: var(--light);

}

body[theme="white"] .section {
    color: var(--black);
}

body[theme="lime"] {
    background-color: var(--lime);

}

body[theme="lime"] .section {
    color: var(--dlime);
}

body[theme="cyan"] {
    background-color: var(--lime);

}

body[theme="cyan"] .section {
    color: var(--dlime);
}

body[theme="salmon"] {
    background-color: var(--lime);
}

body[theme="salmon"] .section {
    color: var(--dlime);
}

@font-face {
    font-family: 'Sansita';
    src: url('./assets/fonts/font1.ttf');
}

@font-face {
    font-family: 'SansitaReg';
    src: url('./assets/fonts/font2.ttf');
}

@font-face {
    font-family: 'SansitaBold';
    src: url('./assets/fonts/font3.ttf');
}